html {
    background: rgba(243, 209, 117, 0.699);
    padding: 10px 0px 10px;
    margin-left: 450px;
    margin-right: 40px;
    margin-top: 10px;
    margin-bottom: 40px;
  
}

body {
    color: rgb(53, 49, 49);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    
}

.image1 {
    width: 150px;

}
.image2 {
    width: 300px;
}
.scores,
.easy {
    font-style: italic;
}

.lang,
.easy {
    font-weight: bold;
}

.container {
    margin-left: 20rem;
}

ul {
    color: rgb(92, 2, 128);
    background: rgba(2, 97, 114, 0.397);
    width: 350px;
   
}


#link {
    background: rgba(255, 1, 1, 0.623);
    color: black;
}